<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace命名空间 -》接口完全限定名 -》 和接口直接绑定-->
<mapper namespace="com.yc.cloudnotenote.dao.IActivityDetailMapper">
    <!--    select 标签== @select  resultType 设定返回的实体类类型
    id 要对应 接口中的方法名
    -->
    <select id="selectByActivityId" resultType="com.yc.cloudnote.bean.Activitydetail">
        select * from activitydetail where activityid=#{activityid}
    </select>

    <select id="selectByActivityId" resultType="com.yc.cloudnote.bean.Activitydetail">
        select * from activitydetail where noteactivityid=#{noteactivityid}
    </select>

    <select id="selectByNoteId" resultType="com.yc.cloudnote.bean.Activitydetail">
        select * from activitydetail where noteid=#{noteid}
    </select>

<!--    <update id="updateup" parameterType="com.yc.cloudnote.bean.Activitydetail">-->
<!--        update activitydetail set noteactivityup=noteactivityup+1 where noteactivityid=#{noteactivityid}-->
<!--    </update>-->

</mapper>