<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="app">
<div  v-for="book in books">
<form enctype="multipart/form-data" method="post">
<h4 >选择参加活动的笔记本</h4>
<select v-model="notebookid" >
    <option value="">选择一个笔记本</option>
    <option :value="book.notebookid">{{book.notebookname}}</option>
</select>
</div>

<div v-for="note in notes">
    <h4 >选择参加活动的笔记</h4>
    <select v-model="noteid">
        <option value="">选择一个笔记</option>
        <option :value="note.id">{{note.notetitle}}</option>
    </select>
</div>

<br/>
<div >
    <input type="button" value="提交" @click="addToActivity" />
    <input type="button" value="取消" @click="returnActivity" />
</div>

</form>

<script>
    let v=new Vue({
        el: '#app',
        data: {
            notebookid: 0,
            noteid: 0,
            books: [],
            notes: []
        },
        created(){
            axios.get("cloudnote-note/findAllNoteBook").then(res=>{
                this.books=res.data.data;
            })
        },
        methods: {
            findBynotebookid: function (){
                axios.get("cloudnote-note/findBynotebookid?notebookid="+this.notebookid).then(response=>{
                    if(response.data.code==1) {
                        this.notes=response.data.data;
                    }
                });
            },
            addToActivity:function () {

            },
            returnActivity:function () {
                location.href="activity_detail.html"
            }
        }
    })
</script>
</body>

</html>