<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>后台登录-cloudnote</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>

    <script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
    <script src="/webjars/axios/0.21.1/dist/axios.min.js"></script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div id="card" class="card ">
            <div class="card-header text-center"><a href="back_index.html"><img class="logo-img" src="assets/images/logo.png" alt="logo"></a><span class="splash-description">请输入您的管理员信息.</span></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="username" type="text" placeholder="账户" autocomplete="off" v-model="account">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="password" type="password" placeholder="密码" v-model="pwd">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">记住我</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" @click.prevent="login">登录</button>
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">创建一个新的账户</a></div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">忘记密码</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var v = new Vue({
            el:"#card",
            data:{
                account:"",
                pwd:""
            },
            methods:{
                login(){
                    let url = "/cloudnote-user/loginback";
                    let param = new URLSearchParams();
                    param.append("account",this.account);
                    param.append("pwd",this.pwd);
                    axios.post( url,param ).then(res=>{
                        if (res.data.code==0){
                            let msg = "";
                            for( let e of res.data.data){
                                msg += e.defaultMessage + "\n";
                            }
                            alert(msg);
                        } else {
                            location.href="back_index.html";
                        }
                    });
                }
            }
        });
    </script>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
 
</html>